:root {
    --halfNote: rgb(17, 200, 17);
    --doubleNote: skyblue;
    --singleNote: #b96ad2;
    --currentStepGrey: #b9b9b9;
    --firstColFg: #3f2f55;
    --firstColBg: #cb64a9;
}

html {
    font-family: sans-serif;
    background: #232028;
}

body {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.card {
    background: #26212d;
    color: #64d0e8;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px #db6ce6;
    position: relative;
    border-radius: 0.4em;
    border: 1px solid #db6ce6;
}

.card_hidden {
    height: 5px !important;
    overflow-y: hidden;
}

.card_hide_toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    margin: 3px;
    background: #78e7c1;
    border-radius: 25% 25% 25% 100%;
    line-height: 1em;
}

.card_hidden > div {
    filter: opacity(0.1);
}

.card_hidden > .card_hide_toggle {
    background: #78e7c1;
}

#theGrid {
    background: #232028;
    color: white;
    text-align: center;
    user-select: none;
    table-layout: fixed;
}

#theGrid td:first-of-type {
    background: var(--firstColBg);
    color: #232028;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
    border-radius: unset;
}

#theGrid td:first-of-type:hover {
    box-shadow: unset;
    background: #5986d9;
}

#theGrid td:hover {
    box-shadow: 0px 0px 3px black;
    background: rgba(255, 255, 255, 0.418);
}

#theGrid,
#theGrid td,
#theGrid tr,
#theGrid th {
    border: 1px solid var(--firstColFg);
    border-collapse: collapse;
    font-family: monospace;
}

#theGrid td {
    height: 25px;
    width: 25px;
    cursor: pointer;
    border-radius: 3px;
}

#theGrid th {
    height: 15px;
    width: 25px;
    background: #26212d;
    color: lightgray;
    cursor: pointer;
}

#theGrid th:hover {
    color: black;
    background: grey;
}

#theGrid tr:hover {
    background: rgb(181, 181, 181);
}

#theGrid tr:nth-child(12n) td {
    border-bottom: 1px solid #425d90 !important;
}

#theGrid tr:last-child td {
    border-bottom: unset !important;
}

#controls,
#gridContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
}

#gridContainer {
    overflow-x: scroll;
    align-items: stretch;
}

button {
    margin: 3px;
}

select,
input {
    background: #26212d;
    color: #78e7c1;
    box-shadow: 2px 2px 4px #80808080, -2px -2px 4px #ffffff6b;
    border-radius: 0.4em;
    border: 1px solid rgb(237, 237, 237);
    transition: border 0.5s;
    cursor: pointer;
    user-select: none;
    padding: 7px;
    margin: 3px;
}

.currentStep {
    background: var(--currentStepGrey);
}

#theGrid td.activeCell {
    background: var(--singleNote);
}

#theGrid td.activeCellHalf01 {
    background: linear-gradient(
        -90deg,
        var(--halfNote) 0%,
        var(--halfNote) 50%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

#theGrid td.activeCellHalf10 {
    background: linear-gradient(
        90deg,
        var(--halfNote) 0%,
        var(--halfNote) 50%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

#theGrid td.activeCellHalf11 {
    background: linear-gradient(
        90deg,
        var(--halfNote) 0%,
        var(--halfNote) 49%,
        black 49%,
        black 51%,
        var(--halfNote) 51%,
        var(--halfNote) 100%
    );
}

#theGrid td.activeCellHalf01.currentStep {
    background: linear-gradient(
        -90deg,
        var(--halfNote) 0%,
        var(--halfNote) 50%,
        var(--currentStepGrey) 50%,
        var(--currentStepGrey) 100%
    );
}

#theGrid td.activeCellHalf10.currentStep {
    background: linear-gradient(
        90deg,
        var(--halfNote) 0%,
        var(--halfNote) 50%,
        var(--currentStepGrey) 50%,
        var(--currentStepGrey) 100%
    );
}

#theGrid td.activeCellDouble {
    background: var(--doubleNote);
}

.skeuButton {
    background: #26212d; 
    color: #dc6cb6;
    box-shadow: 0px 0px 4px #68656c;
    border-radius: 0.4em;
    border: 1px solid #68656c;
    /* transition: border 0.5s; */
    cursor: pointer;
    user-select: none;
    padding: 7px;
}

.skeuButton:active {
    color: white;
    box-shadow: inset 2px 2px 4px #80808080, inset -2px -2px 4px #ffffff6b;
}

.skeuButton:disabled {
    color: lightgray;
}

.skeuButton:hover {
    border: 1px solid rgb(217, 217, 217);
}

#exportDiv textarea {
    height: 100px;
    margin: 5px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border-radius: 0.4em;
    background: #26212d;
    color: white;
}

#exportDiv {
    display: flex;
    flex-direction: column;
}

#loadExportButtonsDiv {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

#noteDurationSwitcher {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    border: 7px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0);
    transition: box-shadow 0.3s, color 0.2s;
    cursor: pointer;
    z-index: 1000;
}

#noteDurationSwitcher:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.689);
    color: white;
}

#noteDurationSwitcher.double {
    background: var(--doubleNote);
}

#noteDurationSwitcher.double::after {
    content: "2x";
}

#noteDurationSwitcher.single {
    background: var(--singleNote);
}

#noteDurationSwitcher.single::after {
    content: "1x";
}

#noteDurationSwitcher.half {
    background: var(--halfNote);
}

#noteDurationSwitcher.half::after {
    content: "½x";
}

#controls.floating {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    box-shadow: rgba(74, 74, 74, 0.55) 0px 0px 15px;
}

.marker {
    background: #78e7c1 !important;
    color: black !important;
}
.marked {
    box-shadow: inset 0px 0px 0px 1px #cb64a9;
}
.skeuButton.activeBtn {
    background: #5986d9;
    color: white;
}

#shortcutsTable td:first-child {
    border: 1px solid black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background: rgb(45, 45, 45);
    box-shadow: inset 0px 0px 4px 3px #171515;
    text-align: center;
}
#shortcutsTable td {
    padding: 10px;
}

#toastModal {
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.604);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#toastModal.invisible {
    opacity: 0;
}

.snapshotRelativeTime{
    color: grey;
    font-style: italic;
    margin-left: 1em;
    padding: 5px;
}

.snapshotRelativeTime::after{
    content: "\a";
    white-space: pre;
}

#trackCardContainer > div.tc_categorySection{
    background: var(--firstColBg);
    color: var(--firstColFg);
}

.trackCard {
    box-shadow: 0px 0px 4px #68656c;
    border: 1px solid #68656c;
}

.trackCard:hover {
    border: 1px solid rgb(217, 217, 217);
    background: unset;
}

.trackCard:active {
    color: white;
    box-shadow: inset 2px 2px 4px #80808080, inset -2px -2px 4px #ffffff6b;
    background: unset;
}